<!DOCTYPE html>
<html lang="en" th:fragment="load">
<head>
<meta charset="UTF-8">
<!-- 引入样式 -->
<link rel="stylesheet"
	href="https://unpkg.com/vue-easytable/umd/css/index.css">
</head>
<body>
	<div id="app">
		<input type="button" value="重新请求" @click="request()" />
		<v-table is-horizontal-resize :is-loading="isLoading"
			style="width:100%" multiple-sort :columns="columns"
			:table-data="tableData" @sort-change="sortChange"
			row-hover-color="#eee" row-click-color="#edf7ff"></v-table>
		<!-- 先引入 Vue -->
		<script src="https://unpkg.com/vue/dist/vue.js"></script>
		<!-- 引入组件库 -->
		<script src="https://unpkg.com/vue-easytable/umd/js/index.js"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script>
		    let that = app;
		    var app = new Vue({
		        el: '#app',
		       	
		        data() {
		            return {
		                  isLoading: true,
		                  tableData: null,
		                  multipleSort:false,
		                  columns: [
		                      {field: 'ID', title: '姓名', width: 80, titleAlign: 'center', columnAlign: 'center',isResize: true},
		                      {field: 'name', title: '手机号码', width: 80, titleAlign: 'center', columnAlign: 'center',isResize: true},
		                      {field: 'industry2', title: '爱好', width: 80, titleAlign: 'center', columnAlign: 'center',isResize: true},
		                      {field: 'industry3',title: '地址', width: 280,titleAlign: 'center',columnAlign: 'left',isResize: true}
		                  ]
		                }
		        },
		        methods: {
		        	request(){
		            	axios.get('/reststock1').then(function (response) {
		            		app.isLoading = false;
		            		var json = response.data; 
		            		/* alert(JSON.stringify(json.length));
		            		alert(JSON.stringify(json)); */
			            		app.columns.splice(0,app.columns.length)
			            		for(var key in json){
			            			var col = {
		            					field : key,
		            					title : json[key],
		    	            			width : 80,
		    	            			titleAlign : 'center',
		    	            			columnAlign : 'center',
		    	            			orderBy:'',
		    	            			isResize : true,
			            			};
			            			app.columns.push(col);
			            			//alert(key+':'+json[key]);
			            		}
		            		//app.columns = response.data; 
		  				})
		  				.catch(function (error) {
		  			    	console.log(error);
		  				});
		            	axios.get('/reststock').then(function (response) {
		            		app.isLoading = false;
		            		//alert(response);
		            		app.tableData = response.data; 
		  				})
		  				.catch(function (error) {
		  			    	console.log(error);
		  				});
		            	
		            },
		         	 // 获取 table 组件每次操作后的参数（重新去请求数据）
		             sortChange(params){
		                 //alert(JSON.stringify(params));
		                 axios.get('/reststock3').then(function (response) {
		                 	console.log(JSON.stringify(params))
		             		app.isLoading = false;
		             		//alert(response);
		             		app.tableData = response.data; 
		   				})
		   				.catch(function (error) {
		   			    	console.log(error);
		   				}); 
		               //  console.log(JSON.stringify(app.tableData))
		             },
		        },
		
		        created(){
		
		            this.request();
		        }
		    })
		    
		</script>

	</div>
</body>
</html>