<!DOCTYPE html>
<html lang="en" >
<head>
<meta charset="UTF-8">

</head>
<body>

	<div id="stock-growth" th:fragment="stock-growth">
		<div class="block-header">
			<h2 >
				个股详情
			</h2>
		</div>
		<!-- Basic Examples -->
		<div class="row clearfix">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="card">
					<div class="header">
						<h2  th:text="*{stockname}">stockname </h2>
						<ul class="header-dropdown m-r--5">
							<li class="dropdown">
								<a href="javascript:void(0);"
									class="dropdown-toggle" data-toggle="dropdown" role="button"
									aria-haspopup="true" aria-expanded="false"> <i
										class="material-icons">more_vert</i>
								</a>
								<ul class="dropdown-menu pull-right">
									<li><a th:href="@{http://basic.10jqka.com.cn/{stockid}/(stockid = ${stockid})}" target="_blank">同花顺F10</a></li>
									<li><a th:href="@{https://xueqiu.com/S/{stockhead}{stockid}/(stockid = ${stockid},stockhead = ${stockhead})}" target="_blank">雪球论坛</a></li>
									<li><a th:href="@{http://app.finance.ifeng.com/data/stock/tab_cwzb.php?symbol={stockid}(stockid = ${stockid})}" target="_blank">凤凰财经</a></li>
								</ul></li>
						</ul>
					</div>
					<div class="body" >
						<!-- <div id="container"  th:fragment="stock-growth-canvas" style="height: 100%">123</div> -->
       					<div id="container" class="dashboard-flot-chart" th:fragment="stock-growth-canvas" >123</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	
	<!-- Jquery Core Js -->
   	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>

		<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts.min.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-gl/echarts-gl.min.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts-stat/ecStat.min.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/dataTool.min.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/world.js"></script>
       <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=ZUONbpqGBsYGXNIYHicvbAbM"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/bmap.min.js"></script>
       <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/simplex.js"></script>
       <script th:src="@{/js/stock/growth.js}"></script>
	<!-- #END# Basic Examples -->


</body>
</html>