<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ch.mapper.UserWebCollectionMapper">
  <resultMap id="BaseResultMap" type="com.ch.pojo.UserWebCollection">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="website" jdbcType="VARCHAR" property="website" />
    <result column="mainstie" jdbcType="VARCHAR" property="mainstie" />
    <result column="iconsite" jdbcType="VARCHAR" property="iconsite" />
    <result column="webtitle" jdbcType="VARCHAR" property="webtitle" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="keywords" jdbcType="VARCHAR" property="keywords" />
    <result column="userid" jdbcType="VARCHAR" property="userid" />
    <result column="usertype" jdbcType="VARCHAR" property="usertype" />
    <result column="systemtype" jdbcType="VARCHAR" property="systemtype" />
    <result column="status" jdbcType="VARCHAR" property="status" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, title, website, mainstie, iconsite, webtitle, description, keywords, userid, 
    usertype, systemtype, status
  </sql>
  <select id="selectByExample" parameterType="com.ch.pojo.UserWebCollectionExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user_web_collection
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_web_collection
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user_web_collection
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ch.pojo.UserWebCollectionExample">
    delete from user_web_collection
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ch.pojo.UserWebCollection">
    insert into user_web_collection (id, title, website, 
      mainstie, iconsite, webtitle, 
      description, keywords, userid, 
      usertype, systemtype, status
      )
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{website,jdbcType=VARCHAR}, 
      #{mainstie,jdbcType=VARCHAR}, #{iconsite,jdbcType=VARCHAR}, #{webtitle,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR}, #{keywords,jdbcType=VARCHAR}, #{userid,jdbcType=VARCHAR}, 
      #{usertype,jdbcType=VARCHAR}, #{systemtype,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ch.pojo.UserWebCollection">
    insert into user_web_collection
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="website != null">
        website,
      </if>
      <if test="mainstie != null">
        mainstie,
      </if>
      <if test="iconsite != null">
        iconsite,
      </if>
      <if test="webtitle != null">
        webtitle,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="keywords != null">
        keywords,
      </if>
      <if test="userid != null">
        userid,
      </if>
      <if test="usertype != null">
        usertype,
      </if>
      <if test="systemtype != null">
        systemtype,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="website != null">
        #{website,jdbcType=VARCHAR},
      </if>
      <if test="mainstie != null">
        #{mainstie,jdbcType=VARCHAR},
      </if>
      <if test="iconsite != null">
        #{iconsite,jdbcType=VARCHAR},
      </if>
      <if test="webtitle != null">
        #{webtitle,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="keywords != null">
        #{keywords,jdbcType=VARCHAR},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="usertype != null">
        #{usertype,jdbcType=VARCHAR},
      </if>
      <if test="systemtype != null">
        #{systemtype,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ch.pojo.UserWebCollectionExample" resultType="java.lang.Integer">
    select count(*) from user_web_collection
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update user_web_collection
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.title != null">
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.website != null">
        website = #{record.website,jdbcType=VARCHAR},
      </if>
      <if test="record.mainstie != null">
        mainstie = #{record.mainstie,jdbcType=VARCHAR},
      </if>
      <if test="record.iconsite != null">
        iconsite = #{record.iconsite,jdbcType=VARCHAR},
      </if>
      <if test="record.webtitle != null">
        webtitle = #{record.webtitle,jdbcType=VARCHAR},
      </if>
      <if test="record.description != null">
        description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.keywords != null">
        keywords = #{record.keywords,jdbcType=VARCHAR},
      </if>
      <if test="record.userid != null">
        userid = #{record.userid,jdbcType=VARCHAR},
      </if>
      <if test="record.usertype != null">
        usertype = #{record.usertype,jdbcType=VARCHAR},
      </if>
      <if test="record.systemtype != null">
        systemtype = #{record.systemtype,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update user_web_collection
    set id = #{record.id,jdbcType=INTEGER},
      title = #{record.title,jdbcType=VARCHAR},
      website = #{record.website,jdbcType=VARCHAR},
      mainstie = #{record.mainstie,jdbcType=VARCHAR},
      iconsite = #{record.iconsite,jdbcType=VARCHAR},
      webtitle = #{record.webtitle,jdbcType=VARCHAR},
      description = #{record.description,jdbcType=VARCHAR},
      keywords = #{record.keywords,jdbcType=VARCHAR},
      userid = #{record.userid,jdbcType=VARCHAR},
      usertype = #{record.usertype,jdbcType=VARCHAR},
      systemtype = #{record.systemtype,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ch.pojo.UserWebCollection">
    update user_web_collection
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="website != null">
        website = #{website,jdbcType=VARCHAR},
      </if>
      <if test="mainstie != null">
        mainstie = #{mainstie,jdbcType=VARCHAR},
      </if>
      <if test="iconsite != null">
        iconsite = #{iconsite,jdbcType=VARCHAR},
      </if>
      <if test="webtitle != null">
        webtitle = #{webtitle,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="keywords != null">
        keywords = #{keywords,jdbcType=VARCHAR},
      </if>
      <if test="userid != null">
        userid = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="usertype != null">
        usertype = #{usertype,jdbcType=VARCHAR},
      </if>
      <if test="systemtype != null">
        systemtype = #{systemtype,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ch.pojo.UserWebCollection">
    update user_web_collection
    set title = #{title,jdbcType=VARCHAR},
      website = #{website,jdbcType=VARCHAR},
      mainstie = #{mainstie,jdbcType=VARCHAR},
      iconsite = #{iconsite,jdbcType=VARCHAR},
      webtitle = #{webtitle,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      keywords = #{keywords,jdbcType=VARCHAR},
      userid = #{userid,jdbcType=VARCHAR},
      usertype = #{usertype,jdbcType=VARCHAR},
      systemtype = #{systemtype,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>