<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layouts">
<head th:include="layouts :: htmlhead" th:with="title='home'">

</head>
<body>
	<section layout:fragment="contentf">
	<!-- 主要指数 -->
            <div class="block-header">
                <h2>主要指数</h2>
            </div>
            <div class="row clearfix">
	            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
	                <div class="card">
	                    <div class="info-box-margin0 bg-green hover-expand-effect"><!-- bg-red bg-green bg-light-green -->
	                        <div class="icon">
	                        <a href="/stock/peg">
	                            <i class="material-icons">equalizer</i>
	                        </a>
	                        </div>
		                        <div class="content">
		                            <div class="text">上证指数</div>
		                            <div class="number">-0.87%</div>
		                        </div>
	                    </div>
	                    <div class="body">
	                      	  上证指数的评价。
	                    </div>
	                </div>
	            </div>
	            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="card">
	                    <div class="info-box-margin0 bg-light-green hover-expand-effect">
	                        <div class="icon">
	                        <a href="/stock/peg">
	                            <i class="material-icons">equalizer</i>
	                        </a>
	                        </div>
		                        <div class="content">
		                            <div class="text">深圳指数</div>
		                            <div class="number">-0.75%</div>
		                        </div>
	                    </div>
	                    <div class="body">
	                      	  深圳指数的评价。
	                    </div>
	                </div>
                </div>
	            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="card">
	                    <div class="info-box-margin0 bg-red hover-expand-effect">
	                        <div class="icon">
	                        <a href="/stock/peg">
	                            <i class="material-icons">equalizer</i>
	                        </a>
	                        </div>
		                        <div class="content">
		                            <div class="text">创业板</div>
		                            <div class="number">-0.42%</div>
		                        </div>
	                    </div>
	                    <div class="body">
	                        	创业板指数的评价。
	                        	创业板指数的评价。
	                        	创业板指数的评价。
	                        	创业板指数的评价。
	                    </div>
	                </div>
                </div>
            </div>
            <!-- #主要指数 -->
            <!-- 行业指数 -->
            <div class="block-header">
                <h2>行业指数</h2>
            </div>
            <div class="row clearfix">
	            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box-margin0 bg-green hover-expand-effect"><!-- bg-red bg-green bg-light-green -->
                        <div class="icon">
                        <a href="/stock/peg">
                            <i class="material-icons">equalizer</i>
                        </a>
                        </div>
                        <div class="content">
                            <div class="text">上证指数</div>
                            <div class="number">-0.87%</div>
                        </div>
                    </div>
	            </div>
	            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box-margin0 bg-light-green hover-expand-effect">
                        <div class="icon">
                        <a href="/stock/peg">
                            <i class="material-icons">equalizer</i>
                        </a>
                        </div>
                        <div class="content">
                            <div class="text">深圳指数</div>
                            <div class="number">-0.75%</div>
                        </div>
                    </div>
                </div>
	            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box-margin0 bg-red hover-expand-effect">
                        <div class="icon">
                        <a href="/stock/peg">
                            <i class="material-icons">equalizer</i>
                        </a>
                        </div>
                        <div class="content">
                            <div class="text">创业板</div>
                            <div class="number">-0.42%</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #行业指数 -->
	</section>
</body>

</html>
