<html xmlns:th="http://www.thymeleaf.org" layout:decorator="layouts">
<head th:include="layouts :: htmlhead" th:with="title='stock'">

</head>
<body>
	<section layout:fragment="contentf">
		<div class="container-fluid">
            <div class="block-header">
                <h2>主要收藏</h2>
            </div>
            <!-- Default Media -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>
                               	 资讯网站
                            </h2>
                        </div>
                        <div class="body">
                            <div class="media">
                                <div class="media-left">
                                    <a href="https://xueqiu.com/" target="_blank">
                                        <img class="media-object" src="http://assets.imedao.com/images/favicon.png" width="32" height="32">
                                    </a>
                                </div>
                                <div class="media-body">
                                	<a href="//xueqiu.com" target="_blank">
                                   		 <h4 class="media-heading">雪球</h4> 
                                 	   刷刷雪球再下单,买卖股票才心安 - 雪球提供沪深港美股票实时行情、实战交流、实盘交易。
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="body">
                            <div class="media">
                                <div class="media-left">
                                    <a href="http://www.10jqka.com.cn/" target="_blank">
                                        <img class="media-object" src="//www.10jqka.com.cn/favicon.ico" width="32" height="32">
                                    </a>
                                </div>
                                <div class="media-body">
                                	<a href="http://www.10jqka.com.cn/" target="_blank">
                                   		 <h4 class="media-heading">同花顺</h4> 
                                 	   核新同花顺网络信息股份有限公司（同花顺）成立于1995年，是一家专业的互联网金融数据服务商，为您全方位提供财经资讯及全球金融市场行情，覆盖股票、基金、期货、外汇、债券、银行、黄金等多种面向个人和企业的服务。
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="body">
                            <div class="media">
                                <div class="media-left">
                                    <a href="https://www.jisilu.cn/" target="_blank">
                                        <img class="media-object" src="https://www.jisilu.cn/favicon.ico" width="32" height="32">
                                    </a>
                                </div>
                                <div class="media-body">
                                	<a href="https://www.jisilu.cn/" target="_blank">
                                   		 <h4 class="media-heading">集思录</h4> 
                                 	  集思录是一个低风险投资理财问答社区
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #END# Default Media -->
         </div>
	</section>
	
	
</body>
</html>
